@model IEnumerable<Mart.Web.Models.Product>
<h1>List of Products</h1>
<div class="container">
    <a asp-controller="ProductListing" asp-action="AddProduct" class="btn btn-primary">Add New Product</a>
    <br />
</div>
@if (Model != null && Model.Any())
{
    @foreach (var product in Model)
    {
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">@product.ProductName</h1>
                <p class="col-md-8 fs-4">@product.ProductDescription</p>
                <div>Manufactured on: @product.ProductManufactureDate</div>
                <div>Expires on: @product.ProductExpiryDate</div>
                <a asp-controller="ProductDetails"
                        asp-action="DisplayProductDetails"
                        asp-route-id="@product.ProductId"
                        class="btn btn-primary btn-lg" type="button">
                    View Details
                </a>
            </div>
        </div>
        <br />
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        No products available.
    </div>
}
